@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$primary-color:#C4C4C4;
$secondary-color:#f63705;
$input-backround:#545050
// font-family: 'Montserrat', sans-serif;
//  #24252C #6C6D72 - linear gradient